*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: $font-family;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background: $secondary
}
// button
.btn{
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 300;

    i{
        margin-left: 5px;
    }
}