// text colors
.text-purple{
    color: $primary;
}
.text-white{
    color: #fff;
}

// btn
.btn-purple-gradient{
    background: $c-gradient-1;
    &:hover{
        // background: none;
        // border: 1px solid $c-gradient-1;
    }
}