//
$font-family: "Montserrat", sans-serif;
// colors
$primary : #D434FE;
$secondary: #150E28;

// gradient 
$c-gradient-1: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);