#header{
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 70px 90px 30px 90px;
    .nav-logo{
        a{
           .logo-text{
            color: #FFF;
            font-family: "Clash Display", sans-serif!important;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
           } 
        }
    }
    .nav-menu{
        display: flex;
        gap: 100px;
        align-items: center;
        .nav-menu-links{
            ul{
                .menu-link{
                    display: inline-block;
                    .nav-link{
                        margin: 0px 20px;
                        color: #FFF;
                        font-family: Montserrat;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
        }
        .nav-register-btn{
            a{
                color: #FFF;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                padding: 15px 30px!important;
            }
        }
    }
}